{
  "$schema": "http://json.schemastore.org/stylelintrc",
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "overrides": [
    {
      "files": ["**/*.{js,jsx}"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ],
  "rules": {
    "color-hex-length": "long",
    "function-name-case": null,
    "function-no-unknown": [true, { "ignoreFunctions": ["/$/"] }],
    "value-keyword-case": null
  }
}
